:root {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  --primary-color: #212121;
  --secondary-color: #4760ee;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  background: #66666650;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
  margin-bottom: 2px solid black;
  background: var(--primary-color);
  z-index: 1;
}

.navbar a img {
  padding: 5px;
  top: 5px;
  position: relative;
  left: 5px;
}

.navbar ul {
  position: relative;
  /* right:300px; */
  display: flex;
}

.navbar ul li a {
  text-decoration: none;
  color:white;
  text-transform: capitalize;
  font-size: large;
  text-align: center;
  box-sizing: border-box;
  font-weight: 700;
}
.navbar .btn {
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  color: white;
}


.login {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 90px auto;
}
.login * {
  margin: 1rem 0;
}

/* Footer */

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary-color);
}
.footer span {
  font-size: 35px !important;
}
.footer-items span {
  position: relative;
}
.footer-items a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: var(--secondary-color);
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .navbar button {
    display: none;
  }
  .footer {
    font-size: 18px;
  }
  .footer span {
    font-size: 25px !important;
  }
  .login {
    text-align: center;
    max-width: 50%;
  }
  .login img {
    width: 25%;
  }
}
@media screen and (max-width: 500px) {
  .navbar button {
    display: none;
  }
  .footer {
    font-size: 20px;
    flex-direction: column;
  }
  .footer span {
    font-size: 20px !important;
  }
}
